    <div class="d-flex mt-5 justify-content-center" *ngIf="!userSignedUp; else emailSent">
        <div class="col-sm-4">
            <h1 class="text-center">Sign Up</h1>
            <div class="text-center">
                <a>Already a member? </a>
                <a [routerLink]="['/auth/sign-in']" class="no-inderline">Sign In</a>
            </div>
            <form [formGroup]="signUpForm" (ngSubmit)="submit()" class="mt-4">
                <fieldset class="d-flex flex-column">

                    <fieldset class="form-group mb-2">
                        <input type="text" class="form-control form-control-lg" placeholder="First Name" formControlName="firstName"/>
                        <control-messages [control]="firstNameControl"></control-messages>
                    </fieldset>

                    <fieldset class="form-group mb-2">
                        <input type="text" class="form-control form-control-lg" placeholder="Last Name" formControlName="lastName"/>
                        <control-messages [control]="lastNameControl"></control-messages>
                    </fieldset>

                    <fieldset class="form-group mb-2">
                        <input type="text" class="form-control form-control-lg" placeholder="Email" formControlName="email"/>
                        <control-messages [control]="emailControl"></control-messages>
                    </fieldset>

                    <fieldset class="form-group mb-2">
                        <input type="password" class="form-control form-control-lg" placeholder="Password" formControlName="password"/>
                        <control-messages [control]="passwordControl"></control-messages>
                    </fieldset>

                    <button class="btn btn-primary align-self-end button-color" type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
                    <!--<button class="btn btn-danger align-self-end" (click)="makeRequest()">Fetch</button>-->    
                </fieldset>
            </form>
        </div>
    </div>
    <ng-template #emailSent>
        <div class="d-flex flex-column mt-5 align-items-center">
            <h1 class="text-center">Letter with activation link has been send to your email</h1>
            <img src="../../../../assets/images/png/Email.png" class="imageEmail"/>          
        </div>        
    </ng-template>

  
