.posts-container{
    padding: 0 1.4vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.post{
    width: 31vw;    
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    margin-right: 1vw;
    margin-top: 3vh;
    margin-bottom: 3vh; 
}

